.sobremim {
    background-color: dimgray;
}

.certificaçoes {
    background-color: gray;
}

.contato {
    background-color: darkgray;
}

.bg-footer {
    background-color: black;
    color: whitesmoke;
}